{% extends 'base.html.twig' %}

{% block title %}Hello BottleController!{% endblock %}

{% block body %}
    <div class="d-flex swiper">
         <div class="swiper-wrapper">
            {% for bottle in bottles %}
                <div class="d-flex swiper-slide">
                    <img src={{ bottle.wine.image}} alt="">
                    <div class="d-flex flex-column">
                        <div>{{ bottle.wine.name }}</div>
                        <div>{{ bottle.year}}</div>
                        <div>{{ bottle.wine.color }}</div>
                        <div>{{ bottle.wine.region.name }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
    </div>

{% endblock %}